<style type="text/css">
  .pos-table-input{
    border: none;
    background: #ceecdc52;
    border-radius: 2px;
  }
  .mat-success {
    background-color: #4dbd74;
    font-weight: bold;
    font-family: monospace;
    color: #fff;
  }
</style>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-title><h4  class="card-title">New Purchase</h4></mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="offset-md-9 col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Invoice No" value="{{cartService.previousInvoiceNo}}" disabled>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Search By Medicine Name or Group"  (keyup)="getMedicine()" aria-label="medicineGroup" [matAutocomplete]="medicine" [(ngModel)]="searchKey">
                <mat-autocomplete #medicine="matAutocomplete" (optionSelected)="onSelectionChangedMedicine($event.option.value)">
                  <mat-option *ngFor="let medicine of medicineList" [value]="medicine.name" >
                    <table width="100%">
                      <tbody>
                      <tr>
                        <td  width="44%">{{medicine.name}}</td>
                        <td  width="23%"> {{medicine.company.name}}</td>
                        <td  width="23%"> {{medicine.group.name}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>

            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Medicine Group"  (keyup)="getMedicineGroups()" aria-label="medicineGroup" [matAutocomplete]="group" [(ngModel)]="groupName">
                <mat-autocomplete #group="matAutocomplete" (optionSelected)="onSelectionChangedMedicineGroup($event.option.value)">
                  <mat-option *ngFor="let medicineGroup of medicineGroupList " [value]="medicineGroup.name" >
                    {{ medicineGroup.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Company"  (keyup)="getCompany()" aria-label="company" [matAutocomplete]="company" [(ngModel)]="companyName">
                <mat-autocomplete  #company="matAutocomplete" (optionSelected)="onSelectionChangedCompany($event.option.value)">
                  <mat-option *ngFor="let company of companyList " [value]="company.name" >
                    {{ company.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="row"></div>
          <!--<hr>-->
          <div class="row">
            <div class="col-md-9">
              <table class="table table-sm">
                <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Medicine Name</th>
                  <th>Group</th>
                  <th>Company</th>
                  <th>Qty</th>
                  <th>price</th>
                  <th>Sub</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of cartService.salesItem; let i = index ">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.group.name}}</td>
                  <td>{{item.company.name}}</td>
                  <td><input class="pos-table-input" style="max-width: 40px" value="{{item.qty}}" #itemQty (keyup)="updateQty(item._id, itemQty.value)" ></td>
                  <td><input class="pos-table-input" style="max-width: 50px" value="{{item.costPrice}}"  #itemPrice (keyup)="updatePrice(item._id, itemPrice.value)" (focusout)="updatePriceOnFocusout(item._id, itemPrice.value)" ></td>
                  <td>{{item.sellingPrice * item.qty}}</td>
                  <td>
                    <button mat-icon-button color="accent" style="margin-top: -5px;" (click)="removeItem(item._id)">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
            <div class="col-md-3 col-payment-info" style="height: 125px">
              <div class="row" style="margin: 0px 0px 15px 0px;">
                <h4 class="col-md-6">Total: </h4>
                <div class="col-md-6">
                  <h4  style="text-align: right">{{cartService.total}} Tk</h4>
                </div>
              </div>

              <!--<div class="row">-->
                <!--<h5 class="col-md-6">Discount: </h5>-->
                <!--<div class="col-md-6">-->
                  <!--<h6 style="text-align: right">{{cartService.totalDiscount}}  Tk</h6>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="row">-->
                <!--<h5 class="col-md-6">Vat: </h5>-->
                <!--<div class="col-md-6">-->
                  <!--<h6 style="text-align: right">{{cartService.vat}} </h6>-->
                <!--</div>-->
              <!--</div>-->
              <!--<hr>-->
              <!--<div class="row">-->
                <!--<h5 class="col-md-6">Payable: </h5>-->
                <!--<div class="col-md-6">-->
                  <!--<h5 style="text-align: right">{{cartService.total - cartService.totalDiscount}}  Tk</h5>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="row">-->
                <!--<h5 class="col-md-6">Paid Amount: </h5>-->
                <!--<div class="col-md-6">-->
                  <!--<mat-form-field class="example-full-width">-->
                    <!--<input matInput [(ngModel)]="cartService.paidAmount">-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              <!--</div>-->


              <!--<div class="row">-->
                <!--<h5 class="col-md-6">Outstanding: </h5>-->
                <!--<div class="col-md-6">-->
                  <!--<h5 style="text-align: right"><span  *ngIf="cartService.paidAmount != null">{{(cartService.total - cartService.totalDiscount)- cartService.paidAmount}} </span> <span  *ngIf="cartService.paidAmount == null">{{cartService.total - cartService.totalDiscount}}</span> Tk</h5>-->
                <!--</div>-->
              <!--</div>-->

              <!--<hr>-->

              <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12" style="text-align: center">
                  <button mat-raised-button  [color]="'success'" style="min-width: 185px" (click)="newSale()" >Purchase</button>
                </div>
              </div>

            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div><!--/.row-->
</div>
