<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-title><h4  class="card-title">New Sale</h4></mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="offset-md-9 col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Invoice No" value="201812121002" disabled>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Search By Medicine Name or Group"  (keyup)="getMedicine()" aria-label="medicineGroup" [matAutocomplete]="auto" [(ngModel)]="searchKey">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChangedMedicine($event.option.value)">
                  <mat-option *ngFor="let medicine of medicineList " [value]="medicine.name" >
                    {{ medicine.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>




            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Group" >
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Company" >
              </mat-form-field>
            </div>
          </div>
          <div class="row"></div>
          <hr>
          <div class="row">
            <div class="col-md-9">
              <mat-table #table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="No">
                  <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Group">
                  <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.group}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Company">
                  <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="Power">
                  <mat-header-cell *matHeaderCellDef> Power </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.power}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Qty">
                  <mat-header-cell *matHeaderCellDef> Qty </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.qty}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Price">
                  <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="SubTotal">
                  <mat-header-cell *matHeaderCellDef> SubTotal </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.subtotal}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
            <div class="col-md-3 col-payment-info" style="max-height: 330px">
              <div class="row">
                <h5 class="col-md-6">Total: </h5>
                <div class="col-md-6">
                  <h5  style="text-align: right">102 Tk</h5>
                </div>
              </div>

              <div class="row">
                <h5 class="col-md-6">Discount: </h5>
                <div class="col-md-6">
                  <h6 style="text-align: right">2 Tk</h6>
                </div>
              </div>

              <div class="row">
                <h5 class="col-md-6">Vat: </h5>
                <div class="col-md-6">
                  <h6 style="text-align: right">0 %</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <h5 class="col-md-6">Payable: </h5>
                <div class="col-md-6">
                  <h5 style="text-align: right">100 Tk</h5>
                </div>
              </div>

              <div class="row">
                <h5 class="col-md-6">Paid Amount: </h5>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput >
                  </mat-form-field>
                </div>
              </div>

              <hr>

              <div class="row">
                <h5 class="col-md-6">Outstanding: </h5>
                <div class="col-md-6">
                  <h5 style="text-align: right">100 Tk</h5>
                </div>
              </div>

            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div><!--/.row-->
</div>
