<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-title><h4  class="card-title">Add Medicine Group</h4></mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Group Name" [(ngModel)]="MedicineGroup.name" >
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" [(ngModel)]="MedicineGroup.description" ></textarea>
                  </mat-form-field>
                  <!--<mat-form-field class="example-full-width">-->
                    <!--<mat-select placeholder="Used For" [(ngModel)]="MedicineGroup.usedFor" >-->
                      <!--<mat-option *ngFor="let food of foods" [value]="food.value">-->
                        <!--{{ food.viewValue }}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                  <button  class="pull-right" mat-raised-button color="primary" (click)="saveMedicineGroup()">Add Medicine Group</button>

                </div>
                <div class="col-md-8" style="border-left: 1px solid #c8ced3">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" width="100%">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Group Name</th>
                      <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let eachMedicineGroup of medicineGroupList; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{eachMedicineGroup.name}}</td>
                      <td>{{eachMedicineGroup.description}}</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div><!--/.row-->
</div>














