<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-title><h4  class="card-title">Add Medicine Group</h4></mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Group Name" [(ngModel)]="MedicineGroup.name" >
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" [(ngModel)]="MedicineGroup.description" ></textarea>
                  </mat-form-field>
                  <!--<mat-form-field class="example-full-width">-->
                    <!--<mat-select placeholder="Used For" [(ngModel)]="MedicineGroup.usedFor" >-->
                      <!--<mat-option *ngFor="let food of foods" [value]="food.value">-->
                        <!--{{ food.viewValue }}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->

                  <span >
                    <mat-slide-toggle
                      class="example-margin pull-left"
                      [color]="color"
                      (change)="setOperation()"
                      [checked]="!create"
                    >
                      <span *ngIf="create == true">Add Company </span>
                      <span *ngIf="create == false">Edit Company </span>
                    </mat-slide-toggle>
                  </span>

                  <button  class="pull-right" mat-raised-button color="primary" (click)="saveMedicineGroup()">Save</button>

                </div>
                <div class="col-md-8" style="border-left: 1px solid #c8ced3">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" width="100%">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Group Name</th>
                      <th>Description</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let eachMedicineGroup of medicineGroupList; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{eachMedicineGroup.name}}</td>
                      <td>{{eachMedicineGroup.description}}</td>
                      <td>
                        <button mat-icon-button color="primary" (click)="setView(i)">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="setEdit(i)">
                          <mat-icon>border_color</mat-icon>
                        </button>
                        <button mat-icon-button color="accent"  (click)="setDelete(i)">
                          <mat-icon>clear</mat-icon>
                        </button>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div><!--/.row-->
</div>



<ngx-smart-modal #viewModal identifier="viewModal">
  <div class="row">
    <div class="col-md-12">
      <h2>Medicine Group Information</h2>
      <p><strong>Group Name:</strong> {{viewGroup.name}}</p>
      <p><strong>Description:</strong> {{viewGroup.description}}</p>
    </div>
  </div>
  <button mat-stroked-button color="accent" (click)="viewModal.close()" class="pull-right">Close</button>
</ngx-smart-modal>

<ngx-smart-modal #deleteConfirmationModal identifier="deleteConfirmationModal">
  <div class="row">
    <div class="col-md-12">
      <h2>Alert!</h2>
      <p>Are you sure to delete the record? </p>
    </div>
  </div>
  <button mat-raised-button color="accent" (click)="deleteRecord()" class="pull-left">Delete</button>
  <button mat-stroked-button color="accent" (click)="deleteConfirmationModal.close()" class="pull-right">Close</button>
</ngx-smart-modal>













