<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="example-card">
        <mat-card-title><h4  class="card-title">Inventory</h4></mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12" >
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" width="100%">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Medicine Name</th>
                      <th>Group</th>
                      <th>Company</th>
                      <th> Power</th>
                      <th>Price</th>
                      <th>Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let eachProduct of productList; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{eachProduct.name}}</td>
                      <td>{{eachProduct.group.name}}</td>
                      <td>{{eachProduct.company.name}}</td>
                      <td>{{eachProduct.power}}</td>
                      <td>{{eachProduct.sellingPrice}}</td>
                      <td>{{eachProduct.stock}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>


      </mat-card>
    </div>
  </div><!--/.row-->
</div>














